[Desktop Entry]
Type=Application
Version=1.0
Name=URxvt Kuake
Comment=Quake like terminal
Exec=~/.bin/urxvt-kuake
Icon=xterm
Terminal=false
Categories=Utilities,System,Development
